// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#slider-range-max {
    width: 200px;
    margin-left:350px;
}

#question_latitude {
	display: none;
}

#question_longitude {
	display: none;
}
